{% extends "base_layout.html" %}
{% block content %}
	<p style="text-align:center"> <img src="http://www.hotstarz.info/wp-content/uploads/2015/06/Keanu_Reeves_3.jpg" style="width:304px;height:228px;"></p>
	<p style="text-align:center">Emman</p>
	<p style="text-align:center"> <img src="https://pbs.twimg.com/profile_images/437216014619533312/sGYXZ581.jpeg" style="width:304px;height:228px;"></p>
	<p style="text-align:center">Eduy</p>
	<p style="text-align:center"> <img src="http://www.yanirdekel.com/hollywood/Stories/ChrisEvans/ChrisEvans001.jpg" style="width:304px;height:228px;"></p>
	<p style="text-align:center">hErald</p>


{% endblock %}