<!doctype html>
<html>
<head>
<link type="text/css" rel="stylesheet" 
	href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>
    {% block content %}
    	<h1>Hello world!</h1>
    {% endblock %}
</body>
</html>	